html {
	scroll-behavior: smooth;
	overflow-y: hidden;
}

body {
	overflow-x: scroll;
	margin: 0;
	background-color:#101313;
}

// Set up each monitor
body,
main,
main > .container,
article {
	display: flex;
	overflow-x: scroll;
	width: fit-content;
}

body,
header,
#about,
#guidelines,
#contribute {
	display: grid;
	grid-template-rows: 100vh;
}

body {
	grid-template-columns: $section-width ($section-width * 6) repeat(3, $section-width);
}

header {
	grid-template-columns: $section-width;
}

#about {
	grid-template-columns: repeat(2, $section-width);
}

#guidelines {
	grid-template-columns: $section-width;
}

#contribute {
	grid-template-columns: repeat(3, $section-width);
}