.skip-link {
	display: block;
	position: fixed;
	top: -1000px;
	left: 0;
	z-index: 15;
	width: fit-content;
	padding: 0.8em;
	background-color: #122418;
	text-decoration: none;
}

.skip-link:focus {
	top: 0;
}

// Fix github link
div > .link-github {
	padding: 0 $monitor-content-padding;
}

svg {
	height: 1em;

	path {
		fill: $text-color;
	}
}

main footer a {
	display: block;
	padding-left: $monitor-content-padding;
	padding-top: 7px;
}