section,
header > div,
main footer,
aside > div,
body > footer > div {
	scroll-snap-align: center;
	height: $monitor-height;
	width: $monitor-width;
	margin: 0 auto;
	overflow-x: hidden;

	// Set base background color so see-through parts are just more black.
	background-color: black;
	background-image: radial-gradient(
		200% 250% at center,
		rgba(0, 50, 50, 0.75),
		black 100%
	);

	// Make it cover the entire screen without being interactible.
	&::before {
		content: "";
		display: block;
		pointer-events: none;
		z-index: 10;
		position: sticky;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		height: $monitor-height;
		width: $monitor-width;
		background-size: 100% 100%;
		background-image: url("https://github.com/Chafalleiro/retromator/blob/main/img/crt_green_mask.png?raw=true");
		background-repeat: no-repeat;
	}

	&::after {
		// Green scan bar.
		content: "";
		display: block;
		margin: 0 auto;
		width: $monitor-width;
		height: 100px;
		background: linear-gradient(
			0deg,
			rgba(0, 0, 0, 0) 0%,
			rgba(0, 153, 0, 0.15) 50%,
			rgba(0, 0, 0, 0) 100%
		);

		position: absolute;
		top: 0;

		pointer-events: none;
		z-index: 9;

		animation: bar 18s infinite;
		animation-timing-function: linear;
	}

	> p,
	> a {
		padding: 0 $monitor-content-padding;
	}

	> h1,
	> h2,
	> h3,
	> h4 {
		padding: 10px $monitor-content-padding;
	}

	> :first-child {
		margin-top: -96vh;
	}

	> :last-child {
		padding-bottom: 30px;
	}
}

@keyframes bar {
	0% {
		top: -300%;
	}
	100% {
		top: 100%;
	}
}