$monitor-height: 100vh;
$monitor-width: min(100vw, 133vh);
$monitor-content-padding: max(4%, 20px);
$section-width: 100vw;
$text-color: #009900;

@import "fonts";
@import "reset";
@import "typography";
@import "layout";
@import "general";
@import "screen";
@import "monitor";
@import "nav";
@import "links";